<div class="content-body">
    <%- partial(theme.theme_desktop + '/components/selector-major-categories',
            {category: 'categories'}) %>

    <div class="mew___categories_cat-categories page-container">
        <div class="wrap">
            <div class="category-container">
                <div class="cat-group">
                    <h3><%= _p('index.intro') %></h3>
                    <ul>
                        <li>
                            <a href="<%- url_for_lang(site.categories.findOne({name: 'linux'}).posts.sort('date', 1).data[0].path) %>">
                                <div>
                                    <%- image_tag('images/mew-icons/get-started.svg') %>
                                    <p><%= _p('index.linux') %></p>
                                    <div class="post-counter">
                                        <p>
                                            <%= site.categories.findOne({name: 'linux'}).posts.length %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- .category-container -->
        </div>
        <%- partial(theme.theme_desktop + '/components/bottom-helpers') %>
    </div>
</div>
